.body {
    background-image: url(img/background.jpg);
    font-family: 'lato', sans-serif;
    width: 100%;
   
}
  
.get-intouch {
    display: flex;
    gap: 12px;
    justify-content: end;
    list-style: none;
    margin-top: 0;
    color: white;
    background-color: rgb(59, 57, 57);
    text-decoration: none !important;
}

.get-intouch{
    display: none;
}


.get-intouch a {
    list-style: none;
    color: aliceblue;
    font-family: 'lato';
    font-size: 14px;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.humburger {
    display: block;
    margin-right: 100%;
    padding-left: 20px;
}

.main menu {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    top: 40px;
    gap: 20px;
    background: #3c3a39;
    width: 100%;
    transition: 0.3s;
    margin: auto;
    visibility: hidden;
    margin-right: 60px;
    outline: 2px solid#3c3a39;
}

.desk {
    display: none;
}

.main-menu ul {
    display: none;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    
}

.main-menu ul a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    
}

.nav-menu.active {
    left: inherit;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

.nav-item {
    text-decoration: none;
    color: black;  
    margin: 20px; 
    border-bottom: 2px solid red;
}

.nav-items {
    margin-left: 30px;
    border: 2px solid red;
} 

.about-page {
    width: 100%;
    /* background-color: #D3D3D3; */
    background-image: url(/img/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-repeat: none;
}

.Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.page {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: auto;
}

.align {
    text-align: center;
}
.align2 {
    text-align: center;
}
.align3 {
    text-align: center;
    width: 100%;
}

.align4 {
    text-align: center;
}

.greeting {
    font-family: 'lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 5px;
    color: #EC5242;
    width: 100%;
}

.subject {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-top: auto;
    margin-bottom: 10px;
    color: rgb(238, 70, 9);
    width: 100%;
}

.details1 {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto;
    color: white;
    width: 100%;
    text-align: center;
}

.time {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    width: 100%;
}

.about-logo {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
}

.subject2 {
    width: 100%;
    font-family: 'lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #3c3a39;
    margin-bottom: 0;
}

.logo-hor {
    height: 3px;
        width: 45px;
        background-color: #EC5242;
        border: none;
        margin-bottom: 30px;
        width: 80px;
}


.logo-google {
    width: 250px;
    height: 250px;
    border: 2px solid #ccc9c8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-hr {
    /* display: none; */
    margin-top: auto;
    height: 1px;
    width: 100%;
    color: #252423;
}

.logo-paragraph {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto;
    color: #091E42;
    text-align: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.past.events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-heading {
    width: 100%;
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 4px;
    color: #3c3a39;
    top: 50px;
}

.seepast-hr {
    height: 3px;
    width: 65px;
    background-color: #EC5242;
    margin-top: auto;
    border: none;
    margin-bottom: 40px;
}

.picture1 {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'lato';
    font-size: 32px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .picture2 {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'lato';
    font-size: 32px;
}


.pic1 {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.pic2 {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

.partners {
    width: 100%;
    background-color: rgb(65, 64, 64);
    display: flex;
    flex-direction: column;
}

.partners1 {
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: white;
    text-align: center;
    margin-bottom: auto;
}

.hor2 {
    height: 3px;
    width: 45px;
    margin-top: auto;
    background-color: #EC5242;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.mic {
    display: flex;
    gap: 5px;
}

.microsoft {
height: 20px;
}

.list {
    list-style: none;
    display: flex;
    align-items: center !important;
    gap: 20px;
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: antiquewhite;
    text-align: center;
    margin-top: 70px;
    padding-right: 20px;
    
}

.list li{
    align-items: center;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    gap: 5px;
    color: #3c3a39;
}

.end {
    display: flex;
    gap: 12px;
    align-items: center;
    top: 100px;
}

.end-img {
    width: 100px;
    height: 100px
}

@media only screen and (min-width: 768px) {
    .gap {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
    }
    .get-intouch {
        display: flex;
        margin-bottom: 0;
    }

    .get-intouch  a {
        list-style: none;
    }

    .fa {
        color: aliceblue;
    }

    .humburger {
        display: none;
    }

    .desk {
        display: block;
        width: 100px;
        height: 50px;
        margin-top: 0;
        margin-bottom: 0;
        
    }

    .greeting {
        top: 0;
    }

    .details1 {
        width: 90%;
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: auto;
        color: #272A31;
        text-align: center;
        background: white;
    }

    .time {
        margin-bottom: 100px;
        font-size: 16px;
        color: #272A31;
    }

    .main-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;
        margin-top: 0;
        background-color: whitesmoke;
        
    }

    .main-menu ul {
        display: flex;
        color: #272A31;
        margin-top: 0;
    }

    .main-menu ul a {
        font-family: 'lato', sans-serif;
        font-size: 11px;
        font-weight: 300 !important;
        line-height: 5px;
    }

    .nav-item {
        border-bottom: none;
        margin-top: 0;
        /* top: 0; */
    }

    .nav-item1 {
        border: 2px solid red;
    }

    .home {
        padding-right: 400px;
        border: 2px solid red;
    }

    .page {
        gap: 50px;
    }

    .about-logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 40px;  
        padding-bottom: 50px;
     }
     
     .subject2 {
         width: 100%;
         font-family: 'lato',sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 30px;
         line-height: 35px;
         text-align: center;
         color: #3c3a39;
         margin-bottom: 5px;
     }

     .logo-hor {
        height: 3px;
        width: 45px;
        background-color: #EC5242;
        border: none;
        margin-bottom: 10px;
        width: 80px;
     }
     
     .logo-google {
         width: 700;
         height: 300px;
         border: 2px solid #b9b8b7;
     }

     .image-hr {
        height: 1px;
        color: #3c3a39;
        /* border: 2px solid #EC5242; */
        width: 100%;
        margin-bottom: 0;
     }
     
     .logo-paragraph {
         font-family: 'lato', sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         margin-top: auto;
         color: #091E42;
         text-align: center;
         margin: auto;
         padding-left: 30px;
         padding-right: 30px;
     }

     .past-events {
        width: 100%;
        /* display: flex;
        flex-direction: column; */
    
    }

    .seep {
        gap: 0;
        margin-bottom: 50px;
    }
    
    .see-heading {
        width: 100%;
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0px;
        color: #3c3a39;
        margin-top: 10px;
    }
    
    .seepast-hr {
        height: 3px;
        width: 65px;
        background-color: #EC5242;
        margin-top: 4px;
        border: none;
        margin-bottom: 40px;
    }

    .see-imgs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;

    }

    .picture1 {
        position: relative;
        text-align: center;
        color: white;
        font-family: 'lato';
        font-size: 32px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
    .pic1 {
        height: 250px;
        margin-right: 5;
        margin-bottom: 15px;

    }

    .picture2 {
        position: relative;
        text-align: center;
        color: white;
        font-family: 'lato';
        font-size: 32px;
    }

    .pic2 {
        height: 250px;
        margin-bottom: 15px;
        /* margin-left: 5px; */
    }
    
    .partners {
        width: 100%;
        background-color: rgb(65, 64, 64);
        display: flex;
        flex-direction: column;
    }
    
    .partners1 {
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: white;
        text-align: center;
        margin-bottom: auto;
    }
    
    .hor2 {
        height: 3px;
        width: 45px;
        margin-top: auto;
        background-color: #EC5242;
    }
    
    .line {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    
    .list {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center !important;
        gap: 20px;
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: antiquewhite;
        text-align: center;
        margin-top: 70px;
        
    }

    .li {
        display: none;
    }
    
    .list li{
        align-items: center;
    }

    .mic {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .microsoft {
        height: 100px;
        width: 100px;
    }
    
    
    .footer {
        width: 50%;
        display: flex;
        align-items: center;    
        font-family: 'lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
        color: antiquewhite;
        background-color: rgb(65, 64, 64);
    }
    
    .end {
        display: flex;
        gap: 12px;
        align-items: center;
        top: 100px;
    }
    
    .end-img {
        display: none;
        width: 100px;
        height: 100px
    }

    .two-sections {
        display: flex;
        justify-content: center;
        gap: 0;
    }
}